.header{
    // font-family: $harryFont;
    //  background: linear-gradient(rgb(244, 244, 239),rgb(83, 82, 82));
    // -webkit-background-clip: text;
    // color: transparent;  
    // font-size: 90px;
    background-image: url(../../images/hpTitle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 50vh;
    width: 75vw;
    
    
    
    
}