.filter{
    display: flex;
    flex-direction: column;
    
    flex-wrap: nowrap;
    max-width: fit-content;
    margin: 15px;
    

    &__label{
        font-family: $harryFont;
        font-size: 30px;
        font-weight:bold;
        background: linear-gradient(rgb(237, 237, 162),rgb(242, 80, 80));
        -webkit-background-clip: text;
         color: transparent;  
        
    }
    &__input{
        max-width: max-content;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
    }
    &__select{
        max-width: fit-content;
        margin-bottom: 10px;
        color: rgb(142, 140, 140);
        background-color: #EFEFEF;
        border: none;
        padding:12px 20px;
        width: 100%;
        font-size: large;
        cursor: inherit;
        line-height: inherit;
        text-align: center;
        font-weight:bold;
        
    }
}


.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
    &__li
        
    {
        
        margin-right: 1vw;
        &--img{
            max-width: 15vw;
            height: 40vh;
            background-color: #fcedf45d;

        }
        &--h4{
            max-width: 15vw;
            color: white;
            
            
        }
        
    }
}

.notFound{
    font-size: 60px;
    background: linear-gradient(rgb(242, 209, 23),rgb(177, 32, 32));
    -webkit-background-clip: text;
     color: transparent;  
}